.about-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .profile-picture {
    flex: 1;
    max-width: 300px;
  }
  .profile-circle:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .profile-picture img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 15px rgba(0, 188, 212, 0.3);
  }
  
  .about-description {
    flex: 2;
    text-align: left;
  }
  .about-description h3 {
    font-size: 1.2rem;
    color: #aaa;
    line-height: 1.6;
  }
  .about-description p {
    font-size: 1.2rem;
    color: #aaa;
    line-height: 1.6;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .about-content {
      flex-direction: column;
      text-align: center;
    }
  
    .profile-picture {
      max-width: 200px;
    }
  
    .about-description {
      text-align: center;
    }
  }
  .cv-download-link {
    display: inline-block;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: #00bcd4;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .cv-download-link:hover {
    background-color: #0097a7;
  }