.Certificate-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.Certificate-card {
  background-color: #222;
  padding: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Certificate-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 188, 212, 0.3);
}


.Certificate-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.Certificate-card p {
  font-size: 1rem;
  color: #aaa;
  word-wrap: break-word;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .Certificate-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for tablets */
  }
}

@media (max-width: 768px) {
  .Certificate-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
  }
}

@media (max-width: 480px) {
  .Certificate-grid {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }
}

.Certificate-card:hover {
  transform: scale(1.1); /* Zoom in on hover */
}
