.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  animation: infinite-scroll 5s linear infinite;
}

@keyframes identifier {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
  
}
.project-card {
  background-color: #222;
  padding: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 188, 212, 0.3);
}

.project-image {
  width: 100%;
  height: 150px; /* Adjust height as needed */
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 1rem;
}
h3 {
  color: #fff;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
}

.project-card h3 {

  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-card p {
  font-size: 1rem;
  color: #aaa;
  word-wrap: break-word;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for tablets */
  }
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
  }
}

@media (max-width: 480px) {
  .projects-grid {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }
}
.project-image img {
  transition: transform 0.3s ease;
}

.project-card:hover .project-image img {
  transform: scale(1.1); /* Zoom in on hover */
}
