#project-details {
  padding: 20px;
  text-align: center;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.image-container {
  position: relative;
  text-align: center;
}


.full-resolution-image {
  max-width: 50%; 
  height: auto;
  display: block;
  margin: 0 auto;
}

.project-info {
  max-width: 600px;
  text-align: left;
  color: #ffffff;
  justify-content: center;
}

button {
  margin-top: 0px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}